<div class="container card my-2 p-3">
  <div class="row">
    <div class="col-sm-1">
      <div class="row py-2 justify-content-center" *ngFor="let imagen of articulo.imagenes; let i = index;">
        <img [src]="imagen" alt="" class="imagenChica" (click)="eligirImagen(i)"/>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">          
          <ngb-carousel #carousel class="carousel-dark">
            <ng-template ngbSlide *ngFor="let imagen of articulo.imagenes; let i = index;" [id]="'slideId_' + i">
              <div>
                <img [src]="imagen" class="d-block w-100 imagenGrande" />
              </div>
              <div class="carousel-caption">
              </div>
            </ng-template>
          </ngb-carousel>
        </div>        
      </div>      
    </div>
    <div class="col-sm-4">
      <p class="display-6">{{articulo.nombre}}</p>
    </div>
    <div class="col-sm-3 text-end">
      <div class="row">
        <p class="display-5">${{articulo.precioPesos}}</p>
      </div>
      <div class="row">
        <p class="display-5">Stock: {{articulo.stock}}</p>
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary" (click)="agregarAlCarrito()">Agregar al Carrito</button>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="display-5">{{articulo.descripcion}}</p>
  </div>
</div>
<ngb-toast #toastCarrito 
class="toast-container position-absolute end-0" 
header="Carrito" 
style="top: 60px;"
*ngIf="carrito.length > 0">
  {{mensajeCarrito}}
</ngb-toast>