<div class="container-fluid position-fixed" style="background-color: #fff159; height: 60px; top: 0px; z-index: 10;">
  <div class="row">
    <div class="col-6">      
      <img         
        (click)="irAPrincipal()"
        src="../../assets/pngwing.com.png"
        alt="logo"
        style="height: 50px; width: 100px; cursor: pointer;"
        title="Inicio"
      />
    </div>
    <div class="col-6">
      <div class="row align-items-center justify-content-end">
        <div class="col-4 col-sm-2 col-lg-1 m-2" style="cursor: pointer;">          
          <span class="align-middle"><i class="bi bi-cart4" style="font-size: 30px" routerLink="../Principal/Carrito" title="Carrito"></i></span>
        </div>        
        <div class="col-4 col-sm-2 col-lg-1 m-2" style="cursor: pointer;">          
          <span class="align-middle"><i class="bi bi-skip-backward-circle" style="font-size: 30px" routerLink="../Principal/" title="Volver"></i></span>
        </div>
        <div class="col-4 col-sm-2 col-lg-1 m-2" style="cursor: pointer;">          
          <i class="bi bi-box-arrow-right" (click)="loguot()" style="font-size: 30px" *ngIf="session" title="Logout"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="position: relative; top: 70px;">
  <router-outlet></router-outlet>
  <div class="container-fluid" style="background-color: #fff159; height: 60px; z-index: 10; position: relative;">
    <div class="row justify-content-center">    
      <div class="col-sm-6 text-center">
        <p class="display-6">Comercio Online</p>      
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="modalLoginLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticEmail">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>