<div class="container-fluid">
  <div class="row">    
    <div class="col-sm-12 m-1" (click)="bannerClick()">      
      <div id="carouselExampleAutoplaying" class="carousel carousel-dark slide" data-bs-ride="carousel" >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/black_friday_facebook_banner_02.jpg" class="d-block rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/vecteezy_flash-sale-banner-vector-illustration-template-design-of_6532742.jpg" class="d-block rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/vecteezy_flash-sale-banner-vector-illustration-template-design-of_6532743.jpg" class="d-block rounded" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <app-articulo [listaArticulos]="listaArticulos" ></app-articulo> 
</div>
<ngb-toast class="toastPrimero" #toastPrimero [autohide]="false">
  <div class="text-center">
    <p class="link" (click)="hideToast()" style="cursor: pointer; width: 5px;">
      <strong>X</strong>
    </p>
    <div>
      Bienvenido!      
    </div>
    <div>
      Si quieres un recorrido por esta web:
    </div>
    <button class="btn btn-success">Click Aqui!</button>
  </div>
</ngb-toast>
<ngb-toast #toastCarrito class="toast-container position-absolute end-0" header="Carrito" style="top: 60px;"
*ngIf="carrito.length > 0">
  Tienes articulos en el carrito!
</ngb-toast>